nav{
    display: flex; 
  justify-content: space-between;  
  flex-wrap: wrap;
   background-color: rgba(0, 0, 0, 0.738);
  padding: 10px 10px;    
}
ul{
  display: flex; 
   flex-direction: row; 
   flex-wrap: wrap;
  list-style: none;
}
ul li a{
  text-decoration: none;
  margin: 40px;
  color: white;
   
}
.cardMain{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 2px solid gray;
    width: 13%;
    margin: 5% 5%;
    
}
@media screen and (max-width:700px){
    .card{
        border: 2px solid gray;
        width: 30%;
        margin: 5% 20%; 
    }
}